<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DEPI Automation Suite" verbose="1">
    <parameter name="headless" value="true"/>

    <test name="Product Browsing">
        <classes>
            <class name="tests.ProductBrowsingTests"/>
        </classes>
    </test>

    <test name="Product Details">
        <classes>
            <class name="tests.ProductDetailsTests"/>
        </classes>
    </test>

    <test name="Product Search">
        <classes>
            <class name="tests.ProductSearchTests"/>
        </classes>
    </test>

    <test name="Product Filter">
        <classes>
            <class name="tests.ProductFilterTests"/>
        </classes>
    </test>

    <test name="Header Navigation (Guest + Logged-in)">
        <classes>
            <class name="tests.HeaderNavigationTests"/>
        </classes>
    </test>

    <test name="Login/Register/Cart (Team)">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.CartTest"/>
            <class name="tests.RegisterTest"/>
        </classes>
    </test>

</suite>
